*{
    padding: 0;
    margin: 0;
    font-family:   Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: #009FE3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6em;
}
.links{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 45px;
}
.links a{
    text-decoration: none;
    color: rgb(213, 213, 213);
    font-size: small;
}
 li{
    list-style: none;
    
}
nav img{
height: 45px;
line-height: 45px;
}
.links  li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
    transform: translateY(-7px);
}
.links  li:hover::after{
    width: 100%;
}
.links a:hover{
        color: #fff;

    }

    /*MIDDLE*/
 .mid{
        background-image: url(./back.png);
        height: 60vh;
        /* line-height: 60vh;     */
        text-align: center;
        
    }
    .height li{
        color: #DFDFDF ;
        font-size: x-small;
    }
    .mid div{
        color: #fff;
        font-size: small;}
        .height{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
}

    
/*THIRD*/

.third{
    padding: 3em;
}
.sub div, span{
    font-size: small;
}
.sub span, .main span{
    color: #7B809A;
}
.sub div, .main div{
    color: #344767;
}
.subcontainer{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.main img{
    border-radius: 8px;
    width: 370px;
  
    margin: auto;
    transform: translateY(-25px);
}
.main{
    display: grid;
    text-align: center;
    border: 2px rgb(237, 237, 237) solid;
    height:442px;
    width: 410px;
    border-radius: 8px;
}
.main button{
    background-color: orange;
    font-size: x-small;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 6px;
}

.onfo{
    padding: 2em;
    height: 82vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


.circle{
    background-color: white;
    text-align: center;
    border-radius: 50px;
    width: max-content;
    align-self: center;
    
}
.box, .box2, .box3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
   
}

.firt, .second, .third{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 125vh;
    border-radius: 8px;
    background-color: #2BA7E2;
    text-align: center;
    padding: 1em;
    font-size: smaller;
    


}
.second, .third{
    
    background-color: transparent;
    border: 2px transparent solid;
    justify-content: space-around;
    
}
.second .box ,.second .box2, .second .box3{
    background-color: #F9FBFD;
    border: 2px #DFDFDF solid;
    padding: 2em;
}
.third .box ,.third .box2, .third .box3{
    background-color: #F9FBFD;
    border: 2px #DFDFDF solid;
    padding: 2em;
}

.firt strong{
    color: white;
}
.firt li{
    color: #98D8F3;
}
.second li,div{
    color: black;
}
.third li, div{
    color: black;
}